<!DOCTYPE html>
<html>
<head>
  <style type="text/css">

    #cx1{
    position: relative;
    height: 72px;
    width: 1848px;
    top: 0px;
    left: 0px;
    background-color: #000000;
    border:2px solid #000000;
    }
    #cx2{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 70px;
    left: 0px;
    background-color: #ffda65; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx3{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 70px;
    left: 369.2px;
    background-color: #f5a4e9; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx4{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 70px;
    left: 738.4px;
    background-color: #ffffff; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx5{
    position: absolute;
    height: 111.75px;
    width: 371.2px;
    top: 70px;
    left: 1107.6px;
    background-color: #9cc4e8; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx6{
    position: absolute;
    height: 111.75px;
    width: 371.2px;
    top: 180.375px;
    left: 1107.6px;
    background-color: #9cc4e8; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx7{
    position: absolute;    #imgpos {
    position: absolute; 
    left: 317px; 
    top: 0px; 
    }
    #imgpos2 {
    position: absolute; 
    left: 170px; 
    top: 0px; 
    }
    height: 221.75px;
    width: 371.2px;
    top: 70px;
    left: 1476.8px;
    background-color: #a8d290; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx8{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 289.75px;
    left: 0px;
    background-color: #ffda65; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx9{
    position: absolute;
    height: 659.25px;
    width: 371.2px;
    top: 289.75px;
    left: 369.2px;
    background-color: #f5a4e9; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx10{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 289.75px;
    left: 738.4px;
    background-color: #ffffff; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx11{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 289.75px;
    left: 1107.6px;
    background-color: #9cc4e8; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx12{
    position: absolute;
    height: 221.75px;
    width: 371.2px;
    top: 289.75px;
    left: 1476.8px;
    background-color: #a8d290; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx13{
    position: absolute;
    height: 438.5px;
    width: 371.2px;
    top: 510.15px;
    left: 0px;
    background-color: #ffda65; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx14{
    position: absolute;
    height: 438.5px;
    width: 223.52px;
    top: 510.15px;
    left: 738.4px;
    background-color: #ededed; 
    border:2px solid #000000;
    overflow: auto; 
    }
    #cx15{
    position: absolute;
    height: 438.5px;
    width: 223.52px;
    top: 510.15px;
    left: 959.92px;
    background-color: #ededed; 
    border:2px solid #000000;
    border-left-style: dashed;
    overflow: auto; 
    }
    #cx16{
    position: absolute;
    height: 438.5px;
    width: 223.52px;
    top: 510.15px;
    left: 1181.44px;
    background-color: #ededed; 
    border:2px solid #000000;
    border-left-style: dashed;
    overflow: auto; 
    }
    #cx17{
    position: absolute;
    height: 438.5px;
    width: 223.52px;
    top: 510.15px;
    left: 1402.96px;
    background-color: #ededed; 
    border:2px solid #000000;
    border-left-style: dashed;
    overflow: auto; 
    }
    #cx18{
    position: absolute;
    height: 438.5px;
    width: 223.52px;
    top: 510.15px;
    left: 1624.48px;
    background-color: #a8d290; 
    border:2px solid #000000;
    overflow: auto; 
    }
    .p1{
    color: #ffffff;
    text-align:left;
    position: absolute;
    top: 50%;             
    transform: translate(0, -50%);
    font-size: 30px
    }
    .p2{
    color: #ffffff;
    text-align:right;
    position: absolute;
    top: 50%;             
    transform: translate(545%,-50%);
    font-size: 30px
    }
    p{
      font-size: 20px
    }
    #cx20
    {
      background-color: #a5a5a5;
      border-radius: 10px;
      width: 80%;
      text-align: center;
      border:2px solid #000000;
      margin: 0 auto;
      overflow: auto; 
    }
    #card {
        padding: 16px;
        box-shadow: 0 2px 2px -1px #FD951Fcc;
        width: 300px;
        min-height: 10px;
        margin: 25px 0;
        border-radius: 10px;
        font-weight: 200;
        font-size: 10px;
        background-color: #fff481;
    }
    #card2 {
        padding: 16px;
        box-shadow: 0 2px 2px -1px #FD951Fcc;
        width: 180px;
        min-height: 10px;
        margin: 25px 0;
        border-radius: 10px;
        font-weight: 200;
        font-size: 10px;
        background-color: #87ceeb;
    }
    .highlight{
        background-color: #FD951F08;
    }
    .card, .dropzone{
      transition: 400ms;
    }
    .is-dragging{
        cursor: move;
        opacity: 0.3;
    }
    .over{
      background-color: #4cd13711;
    } 
    .fe{
      float: right;
      position: absolute;
    }
    input[type=textarea]{
      width: 100%;
      border: none;
      background: transparent;
      font-size: 15px;
      color: black;
      height: 20px;
      padding: 10px 20px;
      overflow: scroll;
    }
    .hidden{
      display: none;
    }
    .mainContent{
      float:left;
    }
    .tamanho_button{
      width: 10px;
      height: 10px;
    }
    #barra{
      overflow: auto;
    }
    textarea{
      width: 100%; 
      height: 40px;
      background: transparent;
      font-size: 15px;
      border: none;
      overflow: auto;
    }
   .container{
     display: flex;
     flex-direction: column;
   }
    .cima_card{
      float: right;
      color: black;
      font-size: 13px;
    }
    a{
      color: black;
    }
    .fonte_label{
      font-size: 13px;
      font-style: italic;
    }
    .negrito{
      font-weight: bold;
    }
    #dropzoneJustificativas{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneProdutos{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneStakeholders{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzonePremissas{
      padding: 16px;
      min-height: 10px;
      min-width: 10px;
    }
    #dropzoneRestricoes{
      padding: 16px;
      min-height: 10px;
      min-width: 10px;
    }
    #dropzoneRiscos{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneObjetivos{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneBeneficios{
      padding: 16px;
      min-height: 400px;
      min-width: 300px;
    }
    #dropzoneRequisitos{
      padding: 16px;
      min-height: 620px;
      min-width: 300px;
    }
    #dropzoneEquipe{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneEntregas{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneTempo{
      padding: 16px;
      min-height: 100px;
      min-width: 260px;
    }
    #dropzoneCustos{
      padding: 16px;
      min-height: 400px;
      min-width: 200px;
    }
    #dropzoneTarefas{
      padding: 16px;
      min-height: 400px;
      min-width: 200px;
    }
    #dropzoneAndamento{
      padding: 16px;
      min-height: 400px;
      min-width: 200px;
    }
    #dropzoneAvaliacao{
      padding: 16px;
      min-height: 400px;
      min-width: 200px;
    }
    #dropzoneConcluidos{
      padding: 16px;
      min-height: 400px;
      min-width: 200px;
    }

  </style>
</head>
<body>

    <div id="cx1">
      <p class="p1">Nome do Projeto: </p>
      <p class="p2">Número da Sprint: </p>
    </div>
    
    <div id="cx2">
      <p>Justificativas</p>
      <div id="Btn1">
        <button id="clickButtonJustificativas" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneJustificativas" class="dropzone dropzone_descricao" data-dropnome="justificativa">

        <% @justificativas.each do |justificativa| %>
        
         <div id="template-card-justificativas-existentes">
           <div id ="card" class="card" draggable="true" data-id = <%=justificativa.id%>>
             <div class="content">
               <fieldset>
                 <form action="/main_screen/<%= justificativa.id %>/salvar_justificativa" method="post" class="formulario">
                   <div class="cima_card">
                     <a href="/main_screen/<%= justificativa.id %>/excluir_justificativa">x</a>
                    </div>
                   <div>
                    <textarea type="text"  name="descricao" style="background-color:transparent; border: none;"> <%= justificativa.descricao %></textarea>
                  </div>
                 </form>
               </fieldset>
             </div>
           </div>
         </div>
      
       <% end %>
      
      </div> 
    </div>
    
    <div id="cx3">
      <p>Produtos</p>
      <div id="mainContent">
        <button id="clickButtonProdutos" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneProdutos" class="dropzone dropzone_descricao" data-dropnome="produto">

        <% @produtos.each do |produto| %>
          
          <div id="template-card-produtos-existentes">
            <div id ="card" class="card" draggable="true" class="container" data-id = <%=produto.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= produto.id %>/salvar_produto" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= produto.id %>/excluir_produto">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= produto.descricao %></textarea>
                    </div>
                    <div>
                    
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>
        
        <% end %>
      
      </div>
    </div>
    
    <div id="cx4">
     <p>Stakeholders Externos</p>
      <div id="mainContent">
        <button id="clickButtonStakeholders" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneStakeholders" class="dropzone dropzone_descricao" data-dropnome="stakeholder">

        <% @stakeholders.each do |stakeholder| %>
          
          <div id="template-card-stakeholder-existentes">
            <div id ="card" class="card" draggable="true" data-id = <%=stakeholder.id%>>
              <div class="content">
                <fieldset>
                  <form action="/main_screen/<%= stakeholder.id %>/salvar_stakeholder" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= stakeholder.id %>/excluir_stakeholder">x</a>
                    </div>
                    <div>
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= stakeholder.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div id="cx5">
     <p>Premissas</p>
       <div id="mainContent">
        <button id="clickButtonPremissas" class="buttonStyle">+</button>
      </div>
      <div id="dropzonePremissas" class="dropzone dropzone_descricao" data-dropnome="premissa">
         
         <% @premissas.each do |premissa| %>
          
          <div id="template-card-premissas-existentes">
            <div id ="card" class="card" draggable="true" data-id = <%=premissa.id%>>
              <div class="content">
                <fieldset>
                  <form action="/main_screen/<%= premissa.id %>/salvar_premissa" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= premissa.id %>/excluir_premissa">x</a>
                    </div>
                    <div>
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= premissa.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              </div>
            </div>
          </div>
        
        <% end %>
      
      </div>
    </div>
    
    <div id="cx6">
     <p>Restrições</p>
      <div id="mainContent">
        <button id="clickButtonRestricoes" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneRestricoes" class="dropzone dropzone_descricao" data-dropnome="restricao">
        <% @restricaos.each do |restricao| %>
          
          <div id="template-card-restricaos-existentes">
            <div id ="card" class="card" draggable="true" class="container" data-id = <%=restricao.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= restricao.id %>/salvar_restricao" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= restricao.id %>/excluir_restricao">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= restricao.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    
    <div id="cx7">
     <p>Riscos</p>
      <div id="mainContent">
        <button id="clickButtonRiscos" class="buttonStyle">+</button>
      </div>
        <div id="dropzoneRiscos">
          <% @riscos.each do |risco| %>
          
            <div id="template-card-riscos-existentes">
              <div id ="card" class="card" class="container" data-id = <%=risco.id%>>
                <div class="content">
                  
                  <fieldset>
                    <form action="/main_screen/<%= risco.id %>/salvar_risco" method="post" class="formulario">
                      <div class="cima_card">
                        <a href="/main_screen/<%= risco.id %>/excluir_risco">x</a>
                      </div>
                      <div class="baixo_card">
                        <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= risco.descricao %></textarea>
                      </div>
                    </form>
                  </fieldset>
                
                </div>
              </div>
            </div>

          <% end %>
      </div>
    </div>
    
    <div id="cx8">
     <p>Objetivos</p>
      <div id="mainContent">
        <button id="clickButtonObjetivos" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneObjetivos" class="dropzone dropzone_descricao" data-dropnome="objetivo">

        <% @objetivos.each do |objetivo| %>
          
          <div id="template-card-objetivos-existentes">
            <div id ="card" class="card" draggable="true" data-id = <%=objetivo.id%>>
              <div class="content">
                <fieldset>
                  <form action="/main_screen/<%= objetivo.id %>/salvar_objetivo" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= objetivo.id %>/excluir_objetivo">x</a>
                    </div>
                    <div>
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= objetivo.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    
    <div id="cx9">
     <p>Requisitos</p>
      <div id="mainContent">
        <button id="clickButtonRequisitos" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneRequisitos" class="dropzone dropzone_descricao" data-dropnome="requisito">
        <% @requisitos.each do |requisito| %>
          
          <div id="template-card-requisitos-existentes">
            <div id ="card" class="card" draggable="true" class="container" data-id = <%=requisito.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= requisito.id %>/salvar_requisito" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= requisito.id %>/excluir_requisito">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= requisito.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    
    <div id="cx10">
     <p>Equipe/função</p>
      <div id="mainContent">
        <button id="clickButtonEquipe" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneEquipe" class="dropzone dropzone_descricao" data-dropnome="equipe">
        <% @equipes.each do |equipe| %>
          
          <div id="template-card-equipes-existentes">
            <div id ="card" class="card" draggable="true" class="container" data-id = <%=equipe.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= equipe.id %>/salvar_equipe" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= equipe.id %>/excluir_equipe">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= equipe.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    
    <div id="cx11">
     <p>Grupo de entregas</p><span class="eap-modal" id="eap-modal">|EAP|</span>
      <div id="mainContent">
        <button id="clickButtonEntregas" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneEntregas" class="dropzone dropzone_descricao" data-dropnome="entrega">

        <% @entregas.each do |entrega| %>
                  
          <div id="template-card-entregas-existentes">
            <div id ="card" class="card" draggable="true" class="container" data-id = <%=entrega.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= entrega.id %>/salvar_entrega" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= entrega.id %>/excluir_entrega">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= entrega.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    
    <div id="cx12">

      <p>Linha do Tempo</p>
      <div id="mainContent">
        <button id="clickButtonTempo" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneTempo">
        <% @tempos.each do |tempo| %>
          
          <div id="template-card-tempos-existentes">
            <div id ="card" class="card" class="container" data-id = <%=tempo.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= tempo.id %>/salvar_tempo" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= tempo.id %>/excluir_tempo">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= tempo.descricao %></textarea>
                      <%=select("tempo","entrega_id", Entrega.all.collect{|e| [e.descricao, e.id]},{:selected => tempo.entrega_id},{class: "tempo_entrega"})%>
                      <div>
                        <input type="date" name="data" value="<%= tempo.data %>">
                        <input type="date" name="data_final" value="<%= tempo.data_final %>">
                        <input type="hidden" name="entrega_id" readonly="readonly" id="inputElTempo" value="<%=tempo.entrega_id%> ">
                      </div>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      
      </div>
    </div>
    
    <div id="cx13">
     <p>Benefícios</p>
      <div id="mainContent">
        <button id="clickButtonBeneficios" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneBeneficios" class="dropzone dropzone_descricao" data-dropnome="beneficio">

        <% @beneficios.each do |beneficio| %>
                
          <div id="template-card-beneficios-existentes">
            <div id ="card" class="card" draggable="true" class="container" data-id = <%=beneficio.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= beneficio.id %>/salvar_beneficio" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= beneficio.id %>/excluir_beneficio">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= beneficio.descricao %></textarea>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
    
    <div id="cx14">
      <div id="cx20">
       <p>Tarefas</p>
      </div>
      <div id="mainContent">
        <button id="clickButtonTarefas" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneTarefas" class="dropzone dropzone_tarefa">
         
        <% @tarefas.each do |tarefa| %>
        
          <div id="template-card-tarefas-existentes">
            <div id ="card2" class="card" draggable="true" data-id = <%=tarefa.id%>>
              <div class="content">
                <fieldset>
                  <form action="/main_screen/<%= tarefa.id %>/salvar_tarefa" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= tarefa.id %>/excluir_tarefa">x</a>
                      </div>
                    <div>
                      <%=select("tarefa","pacote_id", Pacote.all.collect{|e| [e.descricao, e.id]}, {:selected => tarefa.pacote_id},{class: "tarefa_pacote"})%>
                      <input type="hidden" name="pacote_id" readonly="readonly" id="inputElPacoteTarefa" class="inputElPacoteTarefa" value="<%=tarefa.pacote_id%>">
                      <%=select("tarefa","equipe_id", Equipe.all.collect{|e| [e.descricao, e.id]}, {:selected => tarefa.equipe_id},{class: "tarefa_equipe"})%>
                      <input type="hidden" name="equipe_id" readonly="readonly" id="inputElEquipe" class="inputElEquipe" value="<%=tarefa.equipe_id%>">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= tarefa.descricao %></textarea>                    
                    </div>
                  </form>
                </fieldset>
              </div>
            </div>
          </div>
        
        <% end %>
      </div>
    </div>
    
    <div id="cx15">
      <div id="cx20">
       <p>Em andamento</p>
      </div>
      <div id="mainContent">
      </div>
      <div id="dropzoneAndamento" class="dropzone dropzone_tarefa">

        <% @andamentos.each do |andamento| %>
        
          <div id="template-card-tarefas-existentes">
            <div id ="card2" class="card" draggable="true" data-id = <%=andamento.id%>>
              <div class="content">                
                  <div>
                    <label class="fonte_label"><span class="negrito">Pacote:</span> <%= andamento.pacote.descricao%></label>
                  </div>
                  <div>
                    <label class="fonte_label"><span class="negrito">Equipe:</span> <%= andamento.equipe.descricao %></label>
                  </div>
                  <div>
                    <label class="fonte_label"><span class="negrito">Tarefa:</span> <%= andamento.descricao %></label>
                  </div> 
              </div>
            </div>
          </div>
        
        <% end %>
      
      </div>
    </div>
    
    <div id="cx16">
      <div id="cx20">
       <p>Em avaliação</p>
      </div>
      <div id="mainContent">
      </div>
      <div id="dropzoneAvaliacao" class="dropzone dropzone_tarefa">

        <% @avaliacaos.each do |avaliacao| %>
        
          <div id="template-card-tarefas-existentes">
            <div id ="card2" class="card" draggable="true" data-id = <%=avaliacao.id%>>
              <div class="content">                   
                  <div>
                    <label class="fonte_label"><span class="negrito">Pacote:</span> <%= avaliacao.pacote.descricao%></label>
                  </div>
                  <div>
                    <label class="fonte_label"><span class="negrito">Equipe:</span> <%= avaliacao.equipe.descricao %></label>
                  </div>
                  <div>
                    <label class="fonte_label"><span class="negrito">Tarefa:</span> <%= avaliacao.descricao %></label>
                  </div>
              </div>
            </div>
          </div>
        
        <% end %>
      </div>
    </div>
    
    <div id="cx17">
      <div id="cx20">
      <p>Concluídos</p>
      </div>
      <div id="mainContent">
      </div>
      <div id="dropzoneConcluidos" class="dropzone dropzone_tarefa">

         <% @concluidos.each do |concluido| %>
        
          <div id="template-card-tarefas-existentes">
            <div id ="card2" class="card" draggable="true" data-id = <%=concluido.id%>>
              <div class="content">        
                  <div>
                    <label class="fonte_label"><span class="negrito">Pacote:</span> <%= concluido.pacote.descricao%></label>
                  </div>
                  <div>
                    <label class="fonte_label"><span class="negrito">Equipe:</span> <%= concluido.equipe.descricao %></label>
                  </div>
                  <div>
                    <label class="fonte_label"><span class="negrito">Tarefa:</span> <%= concluido.descricao %></label>
                  </div>
              </div>
            </div>
          </div>
        
        <% end %>
      
      </div>
    </div>
    
    <%
      @custoTotal = 0
      @custos.each do |custo| 
          @custoTotal += custo.valor;
      end

      a = "Reais"
    %>
    <div id="cx18">
     <p>Custos, R$ <%= @custoTotal %></p>
      <div id="mainContent">
        <button id="clickButtonCustos" class="buttonStyle">+</button>
      </div>
      <div id="dropzoneCustos">
        <% @custos.each do |custo| %>
          
          <div id="template-card-custos-existentes">
            <div id ="card" class="card" class="container" data-id = <%=custo.id%>>
              <div class="content">
                
                <fieldset>
                  <form action="/main_screen/<%= custo.id %>/salvar_custo" method="post" class="formulario">
                    <div class="cima_card">
                      <a href="/main_screen/<%= custo.id %>/excluir_custo">x</a>
                    </div>
                    <div class="baixo_card">
                      <textarea type="text" name="descricao" style="background-color:transparent; border: none;"><%= custo.descricao %></textarea>
                      <textarea type="text" name="valor" style="background-color:transparent; border: none;"><%= custo.valor %></textarea>
                    </div>
                  </form>
                </fieldset>
              
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
      
      <div class = "hidden" id="template-card2-tarefa-novo">
        <div id ="card2" class="card" draggable="true" >
          <div class="content">
            
            <fieldset>
              <form action="/main_screen/incluir_tarefa" method="post" class="formulario">
                <div>
                  <%= select("tarefa","pacote_id", Pacote.all.collect{|e| [e.descricao, e.id]}) %>
                  <%= select("tarefa","equipe_id", Equipe.all.collect{|e| [e.descricao, e.id]}) %>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>

                </div>
              </form>
            </fieldset>
          
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-produto-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_produto" method="post" class="formulario">
                <div>
                  <textarea type="text"  name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>           
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-justificativa-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_justificativa" method="post" class="formulario formCloneMC">
                <div>
                  <textarea type="text" name="descricao" class="formInputDescricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-premissa-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_premissa" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-objetivo-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_objetivo" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-stakeholder-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_stakeholder" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-requisito-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_requisito" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-entrega-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_entrega" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-beneficio-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_beneficio" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-equipe-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_equipe" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-risco-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_risco" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-tempo-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_tempo" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                  <%= select("tempo","entrega_id", Entrega.all.collect{|e| [e.descricao, e.id]},{},{class: "tempo_entrega_clone"})%>
                  <input type="text" name="entrega_id" readonly="readonly" id="inputElTempoClone">
                  <div>
                  <input type="date" name="data">
                  <input type="date" name="data_final">
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card-restricao-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_restricao" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <div class = "hidden" id="template-card2-custo-novo">
        <div id ="card" class="card" draggable="true" >
          <div class="content">
            <fieldset>
              <form action="/main_screen/incluir_custo" method="post" class="formulario">
                <div>
                  <textarea type="text" name="descricao" placeholder="Digite a descrição" style="background-color:transparent; border: none;"></textarea>
                  <textarea type="text" name="valor" placeholder="Digite o valor" style="background-color:transparent; border: none;"></textarea>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>

      <!-- The Modal -->
    <div id="modal-container" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                
                <div>
                
                    <fieldset>
                      <form action="/main_screen/incluir_pacote" method="post" class="formulario">
                        
                        <%= select_tag "pacotes", options_from_collection_for_select(@entregas, "id", "descricao"), prompt: "Escolha uma opção", class: "entrega_pacote" %>
                        <input type="hidden" name="entrega_id" readonly="readonly" id="inputElpacote" class="inputElPacote">
                        <input type="button" value="Novo Pacote" class="newPackBtn" id="newPackBtn">
                        <input type="text" name="descricao" placeholder="Digite o pacote">

                      </form>
                    </fieldset>
    
                </div>
                
                <span class="modal-close">&times;</span>
            </div>
            <div class="modal-table">
                <table id="packsTable"></table>
            </div>
      </div>
    </div>
    
    <script src="javascripts/modal.js">
    </script>

    <script>
        
        clickButtonJustificativas.addEventListener('click', addJustificativas, false)
          function addJustificativas() {
          var temp = $('#template-card-justificativa-novo .card').clone();
          temp.appendTo('#dropzoneJustificativas');
          $('#dropzoneJustificativas .card').removeClass('hidden');
          addEventListenerToForm();
          }
        clickButtonProdutos.addEventListener('click', addProdutos, false);

          function addProdutos(e) {

          var temp = $('#template-card-produto-novo .card').clone();
          temp.appendTo('#dropzoneProdutos');
          $('#dropzoneProdutos .card').removeClass('hidden');
          addEventListenerToForm();
          }
        clickButtonStakeholders.addEventListener('click', addStakeholders, false);

          function addStakeholders(e) {

          var temp = $('#template-card-stakeholder-novo .card').clone();
          temp.appendTo('#dropzoneStakeholders');
          $('#dropzoneStakeholders .card').removeClass('hidden');
          addEventListenerToForm();
          }
        
        clickButtonPremissas.addEventListener('click', addPremissas, false);

          function addPremissas(e) {

          var temp = $('#template-card-premissa-novo .card').clone();
          temp.appendTo('#dropzonePremissas');
          $('#dropzonePremissas .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonRestricoes.addEventListener('click', addRestricoes, false);

          function addRestricoes(e) {

          var temp = $('#template-card-restricao-novo .card').clone();
          temp.appendTo('#dropzoneRestricoes');
          $('#dropzoneRestricoes .card').removeClass('hidden');
          addEventListenerToForm();
          }
          
        clickButtonRiscos.addEventListener('click', addRiscos, false);

          function addRiscos(e) {

          var temp = $('#template-card-risco-novo .card').clone();
          temp.appendTo('#dropzoneRiscos');
          $('#dropzoneRiscos .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonObjetivos.addEventListener('click', addObjetivos, false);

          function addObjetivos(e) {

          var temp = $('#template-card-objetivo-novo .card').clone();
          temp.appendTo('#dropzoneObjetivos');
          $('#dropzoneObjetivos .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonRequisitos.addEventListener('click', addRequisitos, false);

          function addRequisitos(e) {

          var temp = $('#template-card-requisito-novo .card').clone();
          temp.appendTo('#dropzoneRequisitos');
          $('#dropzoneRequisitos .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonEquipe.addEventListener('click', addEquipe, false);

          function addEquipe(e) {

          var temp = $('#template-card-equipe-novo .card').clone();
          temp.appendTo('#dropzoneEquipe');
          $('#dropzoneEquipe .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonEntregas.addEventListener('click', addEntregas, false);

          function addEntregas(e) {

          var temp = $('#template-card-entrega-novo .card').clone();
          temp.appendTo('#dropzoneEntregas');
          $('#dropzoneEntregas .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonTempo.addEventListener('click', addTempo, false);

          function addTempo(e) {

          var temp = $('#template-card-tempo-novo .card').clone();
          temp.appendTo('#dropzoneTempo');
          $('#dropzoneTempo .card').removeClass('hidden');
          addEventListenerToForm();
          }
        
        clickButtonBeneficios.addEventListener('click', addBeneficios, false);

          function addBeneficios(e) {

          var temp = $('#template-card-beneficio-novo .card').clone();
          temp.appendTo('#dropzoneBeneficios');
          $('#dropzoneBeneficios .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonTarefas.addEventListener('click', addTarefas, false);

          function addTarefas(e) {

          var temp = $('#template-card2-tarefa-novo .card').clone();
          temp.appendTo('#dropzoneTarefas');
          $('#dropzoneTarefas .card').removeClass('hidden');
          addEventListenerToForm();
          }

        clickButtonCustos.addEventListener('click', addCustos, false);

          function addCustos(e) {

            var temp = $('#template-card2-custo-novo .card').clone();
            temp.appendTo('#dropzoneCustos');
            $('#dropzoneCustos .card2').removeClass('hidden');
            addEventListenerToForm();

          }
          
      function log(message){
        console.log('> ' + message)
      }

      const cards = document.querySelectorAll('.card')
      const dropzones = document.querySelectorAll('.dropzone')

      cards.forEach(card => {
          card.addEventListener('dragstart', dragstart)
          card.addEventListener('drag', drag)
          card.addEventListener('dragend', dragend)
      })
      
      let dropzoneOrigen;
      let cardDelete;

      function dragstart(e){
       // log('CARD: Start dragging')

        this.classList.add('is-dragging')
        dropzoneOrigen = e.target.parentElement.parentElement;
        cardDelete = e.target.dataset.id;
        console.log(e);
      }

      function drag(){
       // log('CARD: Is dragging')

      }

      function dragend(e){
       // log('CARD: Stop dragging')

        this.classList.remove('is-dragging')
                
        let dropzoneDestinyName = e.path[1]; //mostra o nome da dropzone que joguei
        
        let dropzoneClassName = e.path[1].classList[1]; //mostrar se é dropzone tarefa ou descricao

        console.log(e.toElement.childNodes[1].children[1]);
        
        //console.log(dropzoneOrigen);
          
          if (dropzoneClassName == "dropzone_descricao"){
              let cardDescricaoValue = e.toElement.childNodes[2].previousElementSibling.children[0].children[0][0].defaultValue; //mostrar o valor do card descricao
              let form = document.getElementsByClassName("formCloneMC")[0];
              let formClone = form.cloneNode(true);
              formClone.action = `/main_screen/alterar_${dropzoneDestinyName.dataset.dropnome}`;
              formClone.getElementsByClassName("formInputDescricao")[0].innerHTML = cardDescricaoValue;
              formClone.name = "formClone";             
              document.body.appendChild(formClone);
              formClone.submit();
           
            
            formClone.action = `/main_screen/${cardDelete}/excluir_${dropzoneOrigen.dataset.dropnome}`;
            formClone.method = "get"
            console.log(formClone);
            console.log(cardDelete);
              setTimeout(function(){
                 formClone.submit();
              },1000);
           

          }
     
      }


      dropzones.forEach( dropzone => {
        dropzone.addEventListener('dragenter', dragenter)
        dropzone.addEventListener('dragover', dragover)
        dropzone.addEventListener('dragleave', dragleave)
        dropzone.addEventListener('drop', e=>{console.log(e)})

      })

      function dragenter(){
       // log('DROPZONE: Enter in zone')

      }

      function dragover(){
       // log('DROPZONE: Over')

       const cardBeingDragged = document.querySelector('.is-dragging')

       this.appendChild(cardBeingDragged)
      }

      function dragleave(){
       // log('DROPZONE: Leave')
      }

      
      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////funções para as tarefas
     
      let formulario = document.getElementsByClassName('formulario');
        for (let i = 0; i< formulario.length; i++){
          formulario[i].addEventListener('keydown', e => {
                if(e.key == "Enter") {
                    console.log(e);
                    console.log(formulario[i])
                    formulario[i].submit();
                }
            })
        }
      
      function addEventListenerToForm() {
        
        let formulario = document.getElementsByClassName('formulario');
        for (let i = 0; i< formulario.length; i++){
          formulario[i].addEventListener('keydown', e => {
                if(e.key == "Enter") {
                    console.log(e);
                    console.log(formulario[i])
                    formulario[i].submit();
                    console.log("fa");
                }
            })
        }
      }

      let selectTempo = document.getElementsByClassName("tempo_entrega");
      let selectTarefa = document.getElementsByClassName("tarefa_pacote");
      let selectEquipe = document.getElementsByClassName("tarefa_equipe");
      let selectPacote = document.getElementsByClassName("entrega_pacote");
      let selectTempoClone = document.getElementsByClassName("tempo_entrega_clone");

      let inputTempo = document.getElementsByClassName('inputElTempo');
      let inputTarefa = document.getElementsByClassName('inputElPacoteTarefa');
      let inputEquipe = document.getElementsByClassName('inputElEquipe');
      let inputPacote = document.getElementsByClassName('inputElPacote');
      let inputTempoClone = document.getElementsByClassName('inputElTempoClone');

      
      let i = 0;
      while( i < selectTempo.length) {
          selectTempo[i].addEventListener('change', e => {
              e.target.nextElementSibling.children[2].value = e.target.value;
          })         
         i++;
      }

      i = 0;
      while( i < selectTarefa.length) {
          selectTarefa[i].addEventListener('change', e => {
              e.target.nextElementSibling.value = e.target.value;
          })         
         i++;
      }

      i = 0;
      while( i < selectEquipe.length) {
          selectEquipe[i].addEventListener('change', e => {
              e.target.nextElementSibling.value = e.target.value;
          })         
         i++;
      }

      i = 0;
      while( i < selectPacote.length) {
          selectPacote[i].addEventListener('change', e => {
              e.target.nextElementSibling.value = e.target.value;
          })         
         i++;
      }     

    </script>

</body>
</html>
